<div class="copyright">
    <div class="copyright-inner">
        <div>드루팔 관련 문의 : thruthesky@gmail.com</div>
        <div>필고 : <a href="http://www.philgo.com">www.philgo.com</a></div>
    </div>
</div>