<div class="header-top">
    <div class="header-top-inner">
        <div class="left">
            <a href="/">홈</a>
            <a href="/post/drupal-ask">질문답변</a>
            <a href="/post/drupal-freetalk">자유토론</a>
            <a href="/post/drupal-help">도움요청</a>
            <a href="/post/drupal-tip">드루팔 강좌</a>
            <a href="/post/javascript-tip">Javascript 강좌</a>
        </div>
        <div class="right">
            <a href="/post/drupal-study-group">스터디그룹</a>
            <a href="/post/drupal-inquery">제작의뢰</a>
            {% if logged_in %}
                <a href="/member/update">회원정보</a>
                <a href="/user/logout">로그아웃</a>
            {% else %}
                <a href="/member/login">로그인</a>
                <a href="/member/register">회원가입</a>
            {% endif %}
        </div>
    </div>
</div>
