<div class="logo-search">
    <form action="/post/search">
        <div class="logo">드루팔 코리아</div>
        <div class="search">
            <input type="text" name="q"><input type="submit" value="검색">
        </div>
    </form>
</div>

