<section role='page'>
    <section role="header">
        <div class='member-title'>회원가입</div>
    </section>
    <section role='content'>
        {% include dir_sub_theme ~ '/member.form.html.twig' %}
    </section>
    <section role="footer">

    </section>
</section>