/*footer*/

footer{
	padding: 8px 0;
	border-top:2px solid #b9b9b9;
	border-bottom:2px solid #b9b9b9;
	background-color:#dddddd;
	font-size:1.3em;
	/*override*/
	max-width:none;
	/*override*/
}

footer .copyright{
	max-width:960px;
	padding:0 20px;
	margin:auto;
	box-sizing:border-box;
}

footer .copyright .footer-photo{
	height: 70px;	
	margin-right:15px;
	border-right: 2px solid #b9b9b9;
}

footer .copyright img{
	display:block;	
	padding:10px 0;
}
/*eo footer*/