/*header bottom*/
header .bottom{	
	width:100%;
	max-width:none;
	height:44px;	
	padding:5px 0;
	background:url('/themes/withcenter/templates/mall_sonub/img/menu_bg.png');
	background-repeat:repeat-x;
	background-position:5%;
	overflow:hidden;
	font-family: "Malgun Gothic", AppleGothic, Gulim, serif;
}

header .bottom .inner{
	height:44px;
	max-width:960px;
	padding:0 10px;
	margin:auto;
	box-sizing:border-box;
}

header .bottom .inner a.menu{
	float:left;
	display:inline-block;
	position:relative;
	height:44px;
	padding: 15px 6px;	
	margin: 0 5px 20px 5px;
	font-size:1.1em;
	font-weight:bold;
	color:#ffffff;	
	line-height:100%;	
	box-sizing:border-box;
}

header .bottom .inner a.menu.add{
	color:yellow;
}

header .bottom .inner a.menu.selected, header .bottom .inner a.menu.hover{
	position:relative;
	height:54px;
	top:-5px;
	padding: 20px 6px 20px 6px;
	margin: 0 5px;
	background-color:#888787;	
	box-sizing:border-box;
}

header .bottom .inner a.menu > img{
	display:none;
	position:absolute;
	right:-4px;
	top:0;
}

header .bottom .inner a.menu.selected > img, header .bottom .inner a.menu.hover > img{
	display:block;
}
/*eo header bottom*/



@media all and ( min-width: 820px ) { 
	header .bottom .inner{
		padding:0;
	}
	/*
	header .bottom .inner a.menu{
		padding:15px 21px;
	}*/
}

@media all and ( min-width: 960px ) { 
	/*
	header .bottom .inner a.menu{
		padding:15px 21px;
	}*/
}