header .logo-and-search {
	max-width:960px;
	padding:0 20px;
	margin:auto;
	box-sizing:border-box;
}

header .logo-and-search img {
	display:block;
	width:224px;
	padding:25px 0;
	margin:auto;
}

header .logo-and-search form.search {
	margin:10px 0;
	border:5px solid #2798d8;
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	font-size:1.2em;
	box-sizing:border-box;
    font-family: "Malgun Gothic", AppleGothic, Gulim, serif;
}

header .logo-and-search form.search input{
	border:0;
	line-height:100%;
	box-sizing:border-box;
    font-family: "Malgun Gothic", AppleGothic, Gulim, serif;
}

header .logo-and-search form.search input[type='text']{
	height:33px;
	width:100%;
	padding:9px 12px 6px 12px;	
}

header .logo-and-search form.search .submit-wrapper{
	height:33px;
	border-left:3px solid #2798d8;	
	background-color:#2798d8;
}

header .logo-and-search form.search input[type='submit']{
	width:93px;
	padding:9px 12px 8px 12px;
	border-radius:2px;
	font-weight:bold;
	color:#2695d5;
	background-color:#fff;
}

header .logo-and-search .advance-search{
	display:none;
	height:43px;
	width:136px;
	padding:14px 15px;
	background-color:#2798d8;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	color:#fff;
	box-sizing:border-box;
}



@media all and ( min-width: 740px ) {
	header .logo-and-search img{
		float:left;	
		width:224px;
	}

    header .logo-and-search form.search{
        float:left;
        width:284px;
        margin:35px 0 0 47px;
    }

	header .logo-and-search .advance-search{
		display:block;
		float:left;
		width:128px;
		margin-top:35px;
	}
}
@media all and ( min-width: 800px ) {
    header .logo-and-search form.search {
        width: 320px;
    }
}
@media all and ( min-width: 860px ) {
    header .logo-and-search form.search {
        width: 370px;
    }
    header .logo-and-search .advance-search {
        width: 138px;
    }
}

@media all and ( min-width: 880px ) {
    header .logo-and-search form.search {
        width: 390px;
    }
}
@media all and ( min-width: 900px ) {
    header .logo-and-search form.search {
        width: 410px;
    }
}
@media all and ( min-width: 920px ) {
    header .logo-and-search form.search {
        width: 430px;
    }
}
@media all and ( min-width: 940px ) {
    header .logo-and-search form.search {
        width: 450px;
    }
}
@media all and ( min-width: 960px ) {
    header .logo-and-search form.search {
        width: 490px;
    }
}