img.fake{
	position:relative;
    width:100%;
    opacity:0;
	z-index:-1;
}

/** Do not enable this.
#page-content{
	max-width:960px;
	margin:10px 6px 0 6px;
}
*/

.default-title{
    padding:10px 0;
    font-size:1.5em;
    color:#393939;
}

/*latest-list title*/
.title.latest-list{
	padding: 10px 0;
	font-size: 1.5em;
	font-weight:bold;
	color: #393939;
}

.title.latest-list > span:first-child{
	color:#297fb8;
}
/*eo latest-list title*/

/*top-items*/
.top-items.banner{
	/*display:none;*/
	padding:0 0 7px 0;
	margin-bottom:10px;	
	/*background-color:#3a3a3a;*/
}

.top-items.banner .inner{
	position:relative;	
	max-width:960px;	
	margin:auto;	
	overflow:hidden;
}

.top-items.banner .inner .page{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.top-items.banner .inner .item{	
	display:inline-block;	
	float:left;
	position:relative;	
	/*margin-right:-4px;
	position:absolute;
	top:0;*/
	/**/
	width:50%;
	overflow:hidden;
}

.top-items.banner .inner .item img{
	width:100%;
	display:block;
}

.top-items.banner .inner .item .photo{
	position:relative;
	overflow:hidden;
}

.top-items.banner .inner .item .photo img:last-child{
	position:absolute;
	left:0;
	top:-25%;
}

.top-items.banner .inner .page a:first-child .item > div{
	margin-right:5px;
}

.top-items.banner .inner .page a:last-child .item > div{
	margin-left:5px;
}

.top-items.banner .inner .item > .info{
	display:none;
	position:absolute;
	left:0;
	bottom:14px;
	height:57px;
	width: 250px;
	padding: 7px 50px 7px 20px;
	
	background: rgb(25,84,174); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NTRhZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODhiZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(25,84,174,1) 0%, rgba(40,139,215,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,84,174,1)), color-stop(100%,rgba(40,139,215,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(25,84,174,1) 0%,rgba(40,139,215,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(25,84,174,1) 0%,rgba(40,139,215,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(25,84,174,1) 0%,rgba(40,139,215,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(25,84,174,1) 0%,rgba(40,139,215,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1954ae', endColorstr='#288bd7',GradientType=0 ); /* IE6-8 */

	font-weight:bold;
	color:#ffffff;
	white-space:normal;
	word-break:break-all;
	box-sizing:border-box;
	text-align:center;
}

.top-items.banner .inner .item > .info .title{
	height: 19px;
	margin-bottom: 3px;
	font-size: 1.2em;
	overflow: hidden;
	word-break:break-word;
}

.top-items.banner .inner .item > .info .price{
	height:23px;
	font-size:1.4em;
	overflow:hidden;
}

.top-items.banner .inner .item > .info .price.constant{
	padding-top: 5px;
	font-size: 1.1em;
	color: yellow;
}

.top-items.banner .inner .item > .info .category-label{	
	position:absolute;
	right:0;
	top:0;    
	display: block;
	height:57px;
	width:20px;
    color: white;    
    background-color:#ffffff;    
	
}

.top-items.banner .inner .item > .info .category-label > img{	
	position: absolute;
	top: 14px;	
	left: -7px;
	width: 31px;
	z-index: 1;
}

.top-items.banner .inner .item > .info .category-label:before{
	content: '';
	width: 0px;
	height: 0px;
	top: 0px;
	left:0;
	position: absolute;
	border-top: 57px solid transparent;
	border-right: 40px solid #fff;
	left: -40px;	
}

.top-items.banner .inner .item > .info .category-label:after{
	content: '';
	width: 0px;
	height: 0px;
	top: 0px;
	right:0;
	position: absolute;
	border-bottom: 57px solid transparent;
	border-left: 40px solid #fff;
	right: -40px;	
}

/*top-items arrow*/


/*eo top-items arrow*/

.top-items.banner .inner > .arrow{	
	position:absolute;
	top:30%;
	height: 75px;
	width: 35px;		
	background-color: rgba(68,70,78,.5);
	cursor:pointer;
	z-index:3;
}

.top-items.banner .inner > .arrow{	
	top:35%;
}

.top-items.banner .inner > .arrow:hover{	
	background-color: rgba(0,0,0,.9);
}

.top-items.banner .inner > .arrow img{
	position: relative;
	top:21px;
	width:31px;
}

.top-items.banner .inner > .arrow.left{  
	left: 0;
	border-top-right-radius: 75px;
	border-bottom-right-radius: 75px;
}

.top-items.banner .inner > .arrow.left img{  
	left:0;
}

.top-items.banner .inner > .arrow.right{	
	right:0;
	border-top-left-radius: 75px;
	border-bottom-left-radius: 75px;	
}

.top-items.banner .inner > .arrow.right img{	
	left: 8px;
}
/*eo top-items*/


/*.title.new-design*/
.title.new-design{
    /*padding:0 10px;*/
    margin-bottom:10px;
    font-size:1.2em;	
    font-weight:bold;
	color:#fff;
    line-height:100%;
	background:url("/themes/withcenter/templates/mall_sonub/img/front-page-label-line.png");
	background-repeat:repeat-x;
	background-position:center center;
}

.title.new-design > .inner{
	height:31px;
	width:186px;
	padding:6px 0;
	margin:auto;
    background:url("/themes/withcenter/templates/mall_sonub/img/front-page-label-title.png");
	text-align:center;
	box-sizing:border-box;
}

.title.new-design2{
	position: relative;
	height:29px;
	padding: 3px 0 0 22px;
	margin: 0 0 10px 10px;
	border-bottom: 3px solid #2980b9;
	font-size: 1.3em;
	font-weight: bold;
	box-sizing:border-box;
}

.title.new-design2 img{
	position: absolute;
	left: -12px;
	top: 2px;
	width: 15px;
	padding: 6px 6px 7px 6px;
	border-radius: 21px;
	background-color: #2980b9;
}

.title.new-design2 span:first-child{
	color:#2980b9;
}

.title.new-design2 span:nth-child(2){
	color:#7bda9e;
}
/*eo .title.new-design*/

/*today's pick*/
.todays-pick{
    max-width:960px;
    margin:0 auto 10px auto;
}
/*
.todays-pick  > .title > span:first-child{
    color:#393939;
}

.todays-pick .title > span:last-child{
    color:#ba471a;
}
*/
.todays-pick img{
    width:100%;
    display:block;
}

.todays-pick .item {
    position:relative;
    overflow:hidden;
    /*padding: 0 0 2px 0;*/
}

.todays-pick section.grid.top{
    margin-bottom:10px;
}

.todays-pick section.grid .a{
    margin-bottom:10px;
}

.todays-pick section.grid.bottom .b .item-wrapper .item .photo{
    position:relative;
}

.todays-pick section.grid.bottom .b .item-wrapper .item .photo img{
    position:absolute;
    left:0;
    top:0;
}

.todays-pick section.grid.bottom .b .item-wrapper .item .photo img.fake{
    position:relative;
}

.todays-pick section.grid.bottom .a .item{
    float:left;
    width:50%;
}

.todays-pick section.grid.top .a .item{
    border:1px solid #ddd;
	border-radius:3px;
}

.todays-pick section.grid.top .a .item .photo{
    border:0;
}

.todays-pick section.grid.top .b .item{
    float:left;
    width:50%;
}

.todays-pick section.grid .item  .info .title{
    font-size:1.1em;
	margin-bottom:3px;
	word-break:break-word;
}

.todays-pick section.grid .item  .info .price{
    font-size:1.4em;
}

.todays-pick section.grid .item  .info .price.constant{
    /*font-size:1em;*/
	color:yellow;
}

.todays-pick section.grid .item .photo{
	position: relative;
	border: 1px solid #b0b0b0;	
	border-radius: 3px;
	box-sizing: border-box;
	overflow: hidden;
}

.todays-pick .item .info{
    position:absolute;
    left:0;
    bottom:0;
	width:100%;
	padding:10px;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&amp;0+1,0.85+100 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuODQiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.84) 99%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.84)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.84) 99%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.84) 99%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.84) 99%,rgba(0,0,0,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.84) 99%,rgba(0,0,0,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-8 */

	color:#fff;
	box-sizing:border-box;
    /*font-weight:bold;*/
}

.todays-pick section.grid .b a:first-child .item .inner{
    padding:0 5px 5px 0;
}

.todays-pick section.grid .b a:nth-child(2) .item .inner{
    padding:0 0 5px 5px;
}

.todays-pick section.grid .b a:nth-child(3) .item .inner{
    padding:5px 5px 0 0;
}

.todays-pick section.grid .b a:nth-child(4) .item .inner{
    padding:5px 0 0 5px;
}

.todays-pick section.grid .a a:first-child .item .inner{
    padding:0 5px 0 0;
}

.todays-pick section.grid .a a:last-child .item .inner{
    padding:0 0 0 5px;
}

/*circle-type*/
/*
.todays-pick .item .info-wrapper{
    position: absolute;
    left: -80px;
    bottom: -167px;
    height: 264px;
    width: 264px;
    background-color: #ffffff;
    border-radius: 100%;
    z-index:1;
}

.todays-pick .item .info.circle-type{
    position: absolute;
    left: -80px;
    bottom: -170px;
    height: 256px;
    width: 256px;
    background-color: #0075d0;
    border-radius: 100%;
    z-index:2;
}

.todays-pick .item .info.circle-type > div{
    margin:0 0 0 100px;
    color:#ffffff;
    //font-weight:bold;
}

.todays-pick .item .info.circle-type > .title{
    //margin:15px 0 0 90px; 
}

.todays-pick section.grid .item .info.circle-type > .title{
    height: 17px;
    width: 110px;
	margin:32px 0 5px 100px;
    font-size:1.1em;
    line-height: 120%;
    overflow: hidden;
}

.todays-pick .item .info.circle-type > .title .fake{
    width:30px;
    float:right;
}
*/
/*eo circle-type*/

/*arrow-type-info-1*/
/*
.todays-pick .item .info.arrow-type-info-1{
    color:#ffffff;
    margin-bottom:10px;
}

.todays-pick .item .info.arrow-type-info-1 > div{
    display:inline-block;
    height:26px;
    position:relative;
	padding: 5px 10px 5px 10px;
    box-sizing:border-box;
}

.todays-pick .item .info.arrow-type-info-1 > .title{
    margin-bottom:10px;
}

.todays-pick .item .info.arrow-type-info-1 > .price{
    padding:3px 10px 2px 10px;
}

.todays-pick .item .info.arrow-type-info-1 .arrow-right{
    position:absolute;
    right:-12px;
    top:0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}

.todays-pick .item .info.arrow-type-info-1 .title{
    background-color:#0075d0;
}

.todays-pick .item .info.arrow-type-info-1 .title > span.text{
    display:inline-block;
    height:18px;
    max-width:120px;
    color:#ffffff;
    overflow:hidden;
}

.todays-pick .item .info.arrow-type-info-1 .title .arrow-right.one{
    border-left: 12px solid #0075d0;
    z-index:2;
}

.todays-pick .item .info.arrow-type-info-1 .price{
    background-color:#e93232;
}

.todays-pick .item .info.arrow-type-info-1 .price .arrow-right.three{
    border-left: 12px solid #e93232;
}
*/
/*eo arrow-type-info-1*/

/*eo today's pick*/

/**/
/**/
@media all and ( min-width: 480px ) {
    .todays-pick section.grid .a{
        margin-bottom:0;
    }

    .todays-pick section.grid .a .item-wrapper{
        margin-right:5px;
    }

    .todays-pick section.grid .b .item-wrapper{
        margin-left:5px;
    }

}

@media all and ( min-width: 640px ) {
    .top-items.banner .inner .item > .info{
        display:block;
    }
}

@media all and ( min-width: 960px ) {
    #page-content{
        margin:10px auto 0 auto;
    }
}
/**/


.dot {
    padding:0 2px;
    color:#898989;
}
