.layout > footer{/*override*/	
	max-width:initial;
	margin-top:70px;
	font-size:1.1em;
}

.layout > footer > div{/*override*/		
	padding:17px 0;	
	border-top:3px solid #e1e1e1;
	text-align:center;
}

.layout > footer > .footer-menu a{/*override*/		
	display:inline-block;
	padding:0 13px;
}

.layout > footer > .footer-menu .separator{/*override*/		
	position:relative;
	top:-1px;
	font-size:.8em;
}