.td-left-side-bar {
    display:none;
}
@media all and ( min-width: 860px ) {
    .td-left-side-bar{
        display:table-cell;
    }
}
.left-side-bar {
	margin-right:10px;
    width:200px;
    /*background-color: #f0f0ff;*/
}

.left-side-bar hr {
    margin:6px 6px;
    border:0;
    border-top:1px solid #dfdfdf;
}

.left-side-bar > div {
	margin-bottom:10px;
}

.left-side-bar  >.adv{
	margin-bottom:10px;
}

.left-side-bar  >.adv > img{
	width:100%;
}

.left-side-bar .thumbnail-list {
	padding:0;
	background-color:#f4f4f4;
	margin-bottom:10px;
}

.left-side-bar .thumbnail-list .title {	
	height:26px;
	padding:5px 0;
	margin-bottom:5px;		
	border-bottom:3px solid #0d638c;
	background-color:#0195db;
	color:#fff;
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
	box-sizing:border-box;
}

.left-side-bar .thumbnail-list.mixed .title {
	position:relative;
	border-bottom:0;
	background-color:#1580bd;
}

.left-side-bar .thumbnail-list.mixed .title .arrow-wrapper{
	position:absolute;
	left:0;
	top:26px;
	width:100%;
}

.left-side-bar .thumbnail-list.mixed .title .arrow-wrapper .arrow.down{
	width: 0; 
	height: 0; 
	margin:auto;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;	
	border-top: 6px solid #1580bd;	
}

.left-side-bar .thumbnail-list .item {
	padding-bottom:10px;
	margin: 10px 10px 0 10px;
	border-bottom:1px dotted #7e8c8c;
}

.left-side-bar .thumbnail-list a:last-child .item {
	border-bottom:0;
}

.left-side-bar .thumbnail-list .item .photo {
	position:relative;
	float: left;
	width: 46px;
	height: 46px;
    /*overflow:hidden;*/
	margin-left:10px;
	box-sizing: border-box;	
}

.left-side-bar .thumbnail-list .item .photo > img.greater-than {
	position:absolute;
	left:-10px;
	top:0;
	width:5px;
	font-weight:bold;
	font-size:1em;
}

.left-side-bar .thumbnail-list.mixed .item .photo {
	margin-left:0;
}

.left-side-bar .thumbnail-list .item .photo img {
    width:100%;
	/*min-height:53px;*/
	display:block;
}

.left-side-bar .thumbnail-list .item .info{
	/*float: left;
	height: 48px;
	width: 127px;*/
	padding-left:7px;
	font-size: 1em;
	color: #4073a0;
	overflow: hidden;
	box-sizing: border-box;
	line-height: 120%;
	word-break: break-word;
}