header .top {
    box-sizing: border-box;
    background-color:#f7f7f7;
    border: 1px solid #f0f0f0;
    border-top:0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-family: Gulim,Arial, Helvetica, sans-serif;
    font-size:9pt;	
}
header nav.top:after {
    display:block;
    clear:both;
    content:'';
}
header nav.top > div {
    padding:5px 8px;
}
@media all and (min-width: 560px) {
    header .top .left {
        float:left;
    }
    header .top .right {
        float:right;
    }
}

