body, div, a, .text {
    font-family: "Malgun Gothic", AppleGothic, serif;
	
	/*added for line height unity*/
	line-height:110%;
}

input, select, text-area{
	line-height:100%;
}

.layout > section.content {
    margin:0 6px;
}

@media all and ( min-width: 960px ) {
    .layout > section.content { margin:0 auto; }
}

.layout > header{/*this is inside theme.css*/
    max-width:100%;
    margin-bottom:10px;
}


