.member-title{
	padding:0 0 7px 0;
	margin-bottom:5px;
	font-size:1.2em;
	font-weight:bold;
	color:#7d7d7d;	
	border-bottom:2px solid #cccccc;
	line-height:100%;
}

.member-register-form fieldset{
	padding:0;
	margin:0;
	border:0;
}

.member-register-form .row.data-set{
	margin-bottom:10px;
}

.member-register-form .row.data-set > .caption{
	display:none;
	float:left;
	width:145px;
	padding:10px 0;
	font-weight:bold;
	color:#7a7a7a;
	box-sizing:border-box;
}

.member-register-form .row.data-set.terms > .caption{
	padding:0;	
}

.member-register-form .row.data-set > .text{
	position:relative;
	padding-left:37px;
	overflow:hidden;
}

.member-register-form .row.data-set > .text:before{
	position:absolute;
	left:0;
	top:0;
	background-color:#e2e2e2;
}

.member-register-form .row.data-set.email > .text:before{	
	content:url("/themes/withcenter/templates/mall_sonub/img/member/email.png");
}

.member-register-form .row.data-set.full_name > .text:before{	
	content:url("/themes/withcenter/templates/mall_sonub/img/member/name.png");
}

.member-register-form .row.data-set.mobile > .text:before{	
	content:url("/themes/withcenter/templates/mall_sonub/img/member/mobile.png");
}

.member-register-form .row.data-set.username > .text:before{	
	content:url("/themes/withcenter/templates/mall_sonub/img/member/username.png");
}

.member-register-form .row.data-set.password > .text:before{	
	content:url("/themes/withcenter/templates/mall_sonub/img/member/password.png");
}

.member-register-form .row.data-set.confirm_password > .text:before{	
	content:url("/themes/withcenter/templates/mall_sonub/img/member/confirm_password.png");
}


.member-register-form .row.data-set.terms > .text{
	padding-left:0;
}

.member-register-form .row.data-set.birth-date > .caption{
	display:block;	
	height:37px;
	width:90px;
	padding:11px 10px;
	background-color:#e2e2e2;
}

.member-register-form .row.data-set.birth-date > .text{
	padding-left:0;
}

.member-register-form .row.data-set.gender, .member-register-form .row.data-set.terms {
	margin-left:10px;
}

.member-register-form .row.data-set.gender:after{
	display: table;
	content: "";	
	clear: both;
}

.member-register-form .row.data-set.gender > .text{	
	float:left;
	padding:10px 0;
	margin-right:5px;
}

.member-register-form .row.data-set > .text input[type='text'],.member-register-form .row.data-set > .text input[type='password'],.member-register-form .row.data-set > .text input[type='email']{	
	width:100%;
	border:0;
	padding:10px 10px 10px 5px;
	color:#a9a9a9;
	background-color:#f1f1f1;
	box-sizing:border-box;
}


/*row distinct design*/
.member-register-form .row.data-set.month > label, .member-register-form .row.data-set.day > label, .member-register-form .row.data-set.year > label{
	display:none;
}

.member-register-form .row.data-set.month, .member-register-form .row.data-set.day, .member-register-form .row.data-set.year{
	float:left;
}

.member-register-form .row.data-set.month{
	width:40%;
}
.member-register-form .row.data-set.day{
	width:22%;
}
.member-register-form .row.data-set.year{
	width:38%;	
}

.member-register-form .row.data-set.month select, .member-register-form .row.data-set.day select, .member-register-form .row.data-set.year select{
	width:100%;	
	padding:10px;	
	border:0;
	border-right:1px solid #fff;
	background-color:#f1f1f1;
	box-sizing:border-box;
}
/*eo row distinct design*/
.member-register-form .buttons{
	width:100%;
	margin-left:0;
	text-align:center;
}

.member-register-form .buttons input[type='submit'], .member-register-form .buttons a{	
	height:40px;
	width:40%;
	padding:10px 0;	
	border-radius:2px;
	font-size:1.3em;
	font-weight:bold;
	color:#fff;	
	box-sizing:border-box;
	text-align:center;
}

.member-register-form .buttons input[type='submit']{
	margin-right:5px;
	border:0;
	background-color:#297fb8;
}

.member-register-form .buttons a{
	display:inline-block;
	background-color:#e84c3d;
}

@media all and ( min-width: 360px ) {
	.member-register-form .row.data-set.gender, .member-register-form .row.data-set.terms {
		margin-left:0;
	}

	.member-register-form .buttons input[type='submit'], .member-register-form .buttons a{			
		width:160px;
	}
}

@media all and ( min-width: 480px ) {
	.member-register-form .row.data-set > .text{
		padding-left:0;
	}

	.member-register-form .row.data-set > .text input[type='text'], .member-register-form .row.data-set > .text input[type='password'], .member-register-form .row.data-set > .text input[type='email']{
		padding:10px 10px 10px 42px;
	}

	.member-register-form .row.data-set > .caption{
		display:block;
	}
	
	.member-register-form .row.data-set.birth-date > .caption{				
		width:145px;
		padding:11px 0;
		background-color:transparent;
	}
	
	.member-register-form .row.data-set.month > label, .member-register-form .row.data-set.day > label, .member-register-form .row.data-set.year > label{
		display:none;
	}
	
	.member-register-form .row.data-set > .text:before{
		background-color:transparent;
	}	
	
	.member-register-form .row.data-set > .text input[type='text'], .member-register-form .row.data-set > .text input[type='password'], .member-register-form .row.data-set > .text input[type='email']{
		width:301px;
	}

	.member-register-form .row.data-set.month{
		width:156.4px;
	}
	.member-register-form .row.data-set.day{
		width:65px;
	}
	.member-register-form .row.data-set.year{
		width:81px;	
	}
	
}

@media all and ( min-width: 510px ) {
	.member-register-form .buttons{
		width:329px;
		margin-left:150px;
	}
}