body, div, span, a, input {
    font-family: "Malgun Gothic", AppleGothic, Gulim, serif;
}
section.layout {
    margin:0;
    padding:0;
    width:100%;
}
section.layout > header,
section.layout > footer
{
    margin:0;
    padding:0;
    width: 100%;
    max-width:100%;
}

section.layout > .content {
    margin:0 1em 1em;
}

@media all and ( min-width: 960px ) {
    section.layout > .content { margin:0 auto 1em; }
}