.member-login {
    margin-bottom:1em;
    font-family: "Malgun Gothic", AppleGothic, Arial, serif;
}
.member-login legend {
    display:none;
}
.member-login fieldset {
    margin:0;
    padding:1em;
    box-sizing: border-box;
    background-color:#F7F7F7;
    border:0;
}
.member-login h2 {
    margin:0;
    padding:.6em 1em;
    box-sizing: border-box;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    background-color:#004466;
    color:white;
    font-weight: normal;
}
.member-login input[name='username'], .member-login input[name='password'] {
    margin:0;
    padding:.4em;
    box-sizing: border-box;
    width:100%;
    border:0;
    background-color: white;
}

.member-login input[name='username'] {
    margin-bottom:.6em;
}

.member-login .row label {
    display:block;
    margin-bottom:.3em;
}

.member-login .buttons {
    margin-top:1em;
}
.member-login .buttons input, .member-login .buttons a {
    display:inline-block;
    margin:0;
    padding:.6em;
    border:0;
    color:white;
}
.member-login .buttons input {
    display:inline-block;
    padding:.6em;
    border:0;
    background-color: #4c89c2;
}
.member-login .buttons a {
    display:inline-block;
    margin:0;
    padding:.6em;
    border:0;
    background-color: rgba(152, 150, 153, 0.66);
}
