<div class='copyright'>	
	<table cellspacing=0 cellpadding=0 width='100%'>
	<tr>
		<td width='229'>
			<div class='footer-photo'>

			</div>
		</td>	
		<td>
            English copyright
		</td>
	</tr>
</div>
