<div class='copyright'>	
	<table cellspacing=0 cellpadding=0 width='100%'>
	<tr>
		<td>
			<div class='text'>thruthesky@gmail.com (045)322-4133</div>
			<div class='text'>2F Galang Wong Bldg., Salome Road, Abacan Subd., Balibago, Angeles City</div>
			<div class='text'>Copyright © 2015 - Present</div>
		</td>
		<td width='229'>
			<div class='footer-photo'>
				<img src='/themes/withcenter/templates/mall_sonub/img/sonub_market_logo_footer.png'>
			</div>
		</td>	
	</tr>
</div>
