<div class='footer-menu'>
	<a href='#'>About</a><span class='separator'>|</span>
	<a href='#'>Contact us</a><span class='separator'>|</span>
	<a href='#'>Privacy</a>
</div>
<div class='copyright'>	
	All Rights Reserved © 2015 - Present
</div>
