<div class="logo-and-search">
	<a href="/">
		{% if "sonub" in domain %}
			<img src="{{ url_sub_theme }}/img/logo_sonub.png">
		{% elseif "philgo" in domain %}
			<img src="{{ url_sub_theme }}/img/logo_philgo.png">
		{% endif %}
	</a>
    <form class="search" action='/mall/item/search'>
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr valign="top">
                <td width="95%"><input type="text" name="keyword" placeholder="{{ "sonub" in domain ?  'Search in Market(Product,Brand,Shops)' : '상품을 검색하십시오.' }}"></td>
                <td width="93">
                    <div class='submit-wrapper'>
                        <input type="submit" value="Search">
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <a class='advance-search' href='/mall/item/search?advance_search=true'>Advance Search</a>
</div>
<script>
    setval('Search,검색', '.submit-wrapper input');
</script>