<div class='bottom'>
	<div class='inner clearfix'>		
	{#
		<a class='menu' href='#'>Food<img src='/themes/withcenter/templates/mall_sonub/img/menu_selected.png'/></a>
		<a class='menu' href='#'>Health & Beauty<img src='/themes/x8/templates/mall/img/menu_selected.png'/></a>
		<a class='menu' href='#'>Home & Lifestyle<img src='/themes/x8/templates/mall/img/menu_selected.png'/></a>
		<a class='menu' href='#'>Fashion<img src='/themes/x8/templates/mall/img/menu_selected.png'/></a>
		<a class='menu' href='#'>Electronics<img src='/themes/x8/templates/mall/img/menu_selected.png'/></a>
		<a class='menu' href='#'>Fun & Travel<img src='/themes/x8/templates/mall/img/menu_selected.png'/></a>
	#}
	{% set temp_menus = [ 'Apparels', 'Food', 'Pets', 'Vehicles', 'Computer', 'Gadgets', 'Sports & Hobbies' ] %}
	<a class='menu selected' href='#'>Appliances<img src='/themes/withcenter/templates/mall_sonub/img/menu_selected.png'/></a>
	{% for menu in temp_menus %}	
		<a class='menu' href='#'>{{ menu }}<img src='/themes/withcenter/templates/mall_sonub/img/menu_selected.png'/></a>
	{% endfor %}
	</div>
</div>