<div class="content">
    <div class="left">
        <a href="#"><img src="https://www.philgo.com/data/upload/7/1137527"></a>
    </div>
    <div class="center">
        <a href="/"><img src="/themes/withcenter/templates/mall_sonub/img/sonub_market_logo.png"></a>
        <form class="search">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr valign="top">
                    <td width="99%"><input type="text" name="key" placeholder="{{ text.search_item }}"></td>
                    <td width="40"><input type="image" src="/themes/mall_philgo/img/search.png"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="right">
        <img src="https://www.philgo.com/data/upload/7/1228737">
    </div>
</div>
