{% set menus = data.category_entity_list %}
{% set category_id = input.category_id  %}
{% if data.view_item_category_root_id %}
	{% set category_id = data.view_item_category_root_id %}
{% endif %}
<div class='bottom'>
	<div class='inner clearfix'>
		<a class='menu add' href='/mall/item/add'>Post an Item<img src='/themes/withcenter/templates/mall_sonub/img/menu_selected.png'/></a>
	{% for menu in menus | slice (0,8) %}
		<a class='menu{{ category_id == menu.entity.id.value ? ' selected'}} {{ language }}' href='/mall/item/search?category_id={{ menu.entity.id.value }}'>{{ f.get( ko, menu.entity.name.value ) }}<img src='/themes/withcenter/templates/mall_sonub/img/menu_selected.png'/></a>
	{% endfor %}
	</div>
</div>
