<div class='left-side-bar'>	
	{% include dir_sub_theme ~ '/mall.sonub.left.thumbnail.list.mixed.html.twig' %}
	<div class='adv left'><img src='{{ url_sub_theme }}/img/left/left-adv1.png'/></div>
	{% include dir_sub_theme ~ '/mall.sonub.left.thumbnail.list.html.twig' %}
</div>