{% set posts = data.sidebar_post_bullet %}

<div class='bulleted-list'>
	<div class='title'>Latest Posts</div>
	{% for p in posts %}
		<a href='/post/{{ p.config_id.entity.name.value  }}/{{ p.id.value }}'>{{ p.title.value }}</a>
	{% endfor %}
</div>