{% set items = mall_item_list.items %}
<div class='title new-design3 latest-list'>
	<div class='text'><span>Latest</span> <span>Items</span></div>
	<div class='right-border'></div>
</div>
{% include '/modules/mall/templates/mall.item.list.html.twig' %}