{% set items = mall_item_list.items %}
<div class='title new-design latest-list'>
	<div class='inner'>
		Latest Items
	</div>
</div>
{% include '/modules/mall/templates/mall.item.list.html.twig' %}