{#
this uses 
data.sidebar_post_thumbnail.entity
and
data.sidebar_post_thumbnail.first_image_thumbnail
#}

{% set posts = data.sidebar_post_thumbnail %}
<div class='thumbnail-list'>
	<div class='title'>Popular Posts</div>
	{% for p in posts %}
	<a href='/post/{{ p.entity.config_id.entity.name.value  }}/{{ p.entity.id.value }}'>
		<div class='item clearfix' >
			<div class='photo'><img src='{{ p.first_image_thumbnail.url_thumbnail }}'/></div>
			<div class='info'>{{ p.entity.title.value }}</div>
		</div>
	</a>
	{% endfor %}
</div>