<section role='page'>
    <section role="header">
        <div class='member-title'>Sign Up</div>
    </section>
    <section role='content'>
		{% include 'modules/library/templates/error.html.twig' %}
        {% include dir_sub_theme ~ '/member.form.html.twig' %}
    </section>
    <section role="footer">

    </section>
</section>