{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

{#
NOTE by benjamin:
We should be able to tell that the called form.html.twig is the default login page or not.
If we don't do that, all form.html.twig will be login page.
Though I haven't any other use for this file on mall_sonub just yet.
#}
{% set classes = ['member-form'] %}

{% import dir_macro ~ '/html.html.twig' as html %}
<div class='form-wrapper login'>
	<div class='title'>Sign in</div>
	<form{{ attributes.addClass(classes) }}>
		<input type="hidden" name="form_id" value="user_login_form" />	

		{{ html.input({'type':'text','name':'name', 'id':'edit-name', 'class':'username', 'value':'', 'label':'User ID', 'placeholder':'User ID'}) }}
		{{ html.input({'type':'password','name':'pass', 'id':'edit-pass', 'class':'password', 'value':'', 'label':'Password', 'placeholder':'Password'}) }}
		<div class='forgot-password-wrapper'>
			<a class='forgot-password' href='#'>Forgot Password?</a>
		</div>
		<div class='buttons'>
			<input type="submit" id="edit-submit" value='Log In'><a href='#'>Create an Account</a>
		</div>
	</form>
</div>