<section role='page'>
    <section role="header">
        <h2>Member Account Update</h2>
    </section>
    <section role='content'>
        {% include dir_templates ~ '/member.form.html.twig' %}
    </section>
    <section role="footer">
        This is member update footer
    </section>
</section>