{% if dir_sub_theme %}
    {{ attach_library('withcenter/'~sub_theme) }}
    <section role="layout" class="layout">
        <header class="header">
            {% include dir_sub_theme ~ '/header.html.twig' %}
        </header>
        <section class="content">
            {% include dir_sub_theme ~ '/content.html.twig' %}
        </section>
        <footer class="footer">
            {% include dir_sub_theme ~ '/footer.html.twig' %}
        </footer>
    </section>
{% else %}
    {{ page.content }}
{% endif %}