{#
Note by benjamin
Added this if condition because if the dir_sub_theme is blank, it causes white space error
#}
{% if dir_sub_theme %}
	{{ attach_library('withcenter/'~sub_theme) }}
	<section role="layout" class="layout">
		<header class="header">
			{% include dir_sub_theme ~ '/header.top.html.twig' %}
			{% include dir_sub_theme ~ '/header.logo-search.html.twig' %}
			
			{# for mall_sonub ONLY.. #}
			{% if "mall_sonub" in dir_sub_theme %}
				{% if is_front %}
					{% include dir_sub_theme ~ '/header.menu.html.twig' %}
				{% endif %}
			{% else %}
				{% include dir_sub_theme ~ '/header.menu.html.twig' %}
			{% endif %}
		</header>
		<section class="content">
		
			{# as of now ONLY mall_sonub has side bar... #}
			{% if "mall_sonub" in dir_sub_theme %}
				<table cellpadding=0 cellspacing=0 width='100%'>
					<tr valign='top'>
						<td width='220'>
							{% include dir_sub_theme ~ '/left-side-bar.html.twig' %}
						</td>
						<td>
							{% if is_front %}
								{% include dir_sub_theme ~ '/first-page.html.twig' %}
							{% else %}
								{{ page.content }}
							{% endif %}
						</td>
					</tr>
				</table>
			{% else %}
				{% if is_front %}
					{% include dir_sub_theme ~ '/first-page.html.twig' %}
				{% else %}
					{{ page.content }}
				{% endif %}
			{% endif %}
		</section>
		<footer class="footer">
			{% include dir_sub_theme ~ '/footer.html.twig' %}
		</footer>
	</section>
{% else %}
	 {{ page.content }}
{% endif %}